            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                        {% assign author = site.authors[page.author] %}

                            	<img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=140" class="notepad-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                        {{ page.post_author }}
                        
                            <span class="author-label">Author</span>
                            <h1>{{ author.name }}</h1>
                            <p>
	<!-- span class="author">{{ author.display_name }}</span -->
				        {% if author.twitter %}
				        <a href="http://twitter.com/{{ author.twitter }}">
				            <span class="fa-stack fa-lg">
				                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				                <i class="fa fa-twitter fa-stack-1x"></i>
				            </span>
				        </a>
				        {% endif %}
				        {% if author.google_plus %}
				        <a href="{{ author.google_plus }}">
				            <span class="fa-stack fa-lg">
				                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				                <i class="fa fa-google-plus fa-stack-1x"></i>
				            </span>
				        </a>
				        {% endif %}
				        {% if author.instagram %}
				        <a href="http://instagram.com/{{ author.instagram }}">
				            <span class="fa-stack fa-lg">
				                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				                <i class="fa fa-instagram fa-stack-1x"></i>
				            </span>
				        </a>
				        {% endif %}
				        {% if author.github %}
				        <a href="http://github.com/{{ author.github }}">
				            <span class="fa-stack fa-lg">
				                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				                <i class="fa fa-github fa-stack-1x"></i>
				            </span>
				        </a>
				        {% endif %}
				        {% if author.facebook %}
				        <a href="http://facebook.com/{{ author.facebook }}">
				            <span class="fa-stack fa-lg">
				                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				                <i class="fa fa-facebook fa-stack-1x"></i>
				            </span>
				        </a>
				        {% endif %}
		             </p>
		             <p>If you have further questions leave a comment or write {{ author.display_name }} an <a href="mailto:{{ author.email }}" class="author-website">Email</a>. You should not miss his outstanding <a href="{{ author.web }}">website</a>.</p>
        		</section>
                </div>
            </div>
