            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                        {% assign author = site.authors[page.author] %}

                            	<img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=140" class="notepad-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                        {{ page.post_author }}
                        
                            <span class="author-label">Author</span>
                            <h1>{{ author.name }}</h1>
                            <p>
				<span class="author">{{ author.display_name }}</span>
		             </p>
		             <p>If you have further questions, leave a comment or write {{ author.display_name }} an <a href="mailto:{{ author.email }}" class="author-website">Email</a>. You should not miss his outstanding <a href="{{ author.web }}">website</a>.</p>
		             <p>{{ site.owner.description }}</p>
		                        
        		</section>
                </div>
            </div>
